@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "MangoGrotesque";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/MangoGrotesque-Bold.woff2) format("woff2");
  }

  :root {
    --global-margin-x: 2rem;

    --background: #ffffff;
    --foreground: #ffffff;

    --card: #ffffff;
    --card-foreground: #010816;

    --popover: #ffffff;
    --popover-foreground: #010816;

    --primary: #0f172a;
    --primary-foreground: #f7f9fb;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: rgba(255, 255, 255, 0.6);

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ee4444;
    --destructive-foreground: #f7f9fb;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #010816;

    --radius: 0.5rem;
  }

  .dark {
    --background-dark: #010816;
    --foreground-dark: #f7f9fb;

    --card-dark: #010816;
    --card-foreground-dark: #f7f9fb;

    --popover-dark: #010816;
    --popover-foreground-dark: #f7f9fb;

    --primary-dark: #f7f9fb;
    --primary-foreground-dark: #0f172a;

    --secondary-dark: #1e293b;
    --secondary-foreground-dark: #f7f9fb;

    --muted-dark: #1e293b;
    --muted-foreground-dark: #94a3b7;

    --accent-dark: #1e293b;
    --accent-foreground-dark: #f7f9fb;

    --destructive-dark: #7f1d1d;
    --destructive-foreground-dark: #f7f9fb;

    --border-dark: #1e293b;
    --input-dark: #1e293b;
    --ring-dark: #cad4e0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-black text-primary-foreground;
    @apply font-manrope;
  }
}
