.innerDot .grow {
  animation: grow 1s ease-in-out forwards;
}

.midDot .grow {
  animation: grow 0.75s ease-in-out forwards;
}

.outerDot .grow {
  animation: grow 0.5s ease-in-out forwards;
}

.innerDot .shrink {
  animation: shrink 0.5s ease-in-out forwards;
}

.midDot .shrink {
  animation: shrink 0.75s ease-in-out forwards;
}

.outerDot .shrink {
  animation: shrink 1s ease-in-out forwards;
}

/* .label-line {
  transform-origin: bottom;
  background-color: rgb(255, 255, 255);
  width: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.label-line-horizontal {
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
}

.label-text {
  position: absolute;
  white-space: nowrap;
  padding: 2px 5px;
} */

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
