.innerDot .shrink {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.midDot .shrink {
  transition: all 0.75s ease-in-out;
  transform: scale(1);
}

.outerDot .shrink {
  transition: all 1s ease-in-out;
  transform: scale(1);
}

.innerDot .grow {
  transition: all 1s ease-in-out;
  transform: scale(1.4);
}

.midDot .grow {
  transition: all 0.75s ease-in-out;
  transform: scale(1.4);
}

.outerDot .grow {
  transition: all 0.5s ease-in-out;
  transform: scale(1.4);
}
