#dialog-content {
  position: fixed;

  top: 55%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 2 * var(--global-margin-x));

  border-radius: 50px;
  background: linear-gradient(
    143deg,
    rgba(255, 255, 255, 0.1) -3.54%,
    rgba(114, 114, 114, 0.11) 95.15%
  );
  backdrop-filter: blur(5px);
  box-shadow: 0px 0.853px 20.483px -0.853px rgba(0, 0, 0, 0.18),
    0px 1.92px 5.76px 0px rgba(255, 255, 255, 0.25) inset;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
